/* ----------------------------------------------------------------------------------
  Global stylesheet

  Encoding: UTF-8
  Authors:  
    Juan G. Hurtado   [hello@juanghurtado.com]
----------------------------------------------------------------------------------
	Table of contents
----------------------------------------------------------------------------------
  1.GLOBALS
  2.HEADER
  3.NAV
  4.CONTENT
  5.FOOTER
  6.INTERNET-EXPLORER
---------------------------------------------------------------------------------- */

/* =GLOBALS
---------------------------------------------------------------------------------- */
html {
  background-color: #fff;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
  
body {
  margin: 3em auto;
  width: 500px;
}

a {
  color: #f29400;
  text-decoration: none;
}

/*
  GitHub styles taken from GitHub Preview TextMate Bundle,
  by Kyle Neath: https://github.com/kneath/github_textmate_preview
*/
h1,h2,h3,h4,h5,h6{border:0;}
h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}
h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}
h3{margin-top:1em;}
p{margin:1em 0;line-height:1.5em;}
ul{margin:1em 0 1em 1.5em;padding-left: 0em;}
ol{margin:1em 0 1em 1.5em;padding-left: 0em;}
ul li{margin-top:.5em;margin-bottom:.5em;}
ul ul,ul ol,ol ol,ol ul,{margin-top:0;margin-bottom:0;}
blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;}
dt{font-weight:bold;margin-left:1em;}
dd{margin-left:2em;margin-bottom:1em;}
table{margin:1em 0;}
table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
pre{margin:1em 0;font-size:12px;background-color:#f8f8ff;border:1px solid #dedede;padding:.5em;line-height:1.5em;color:#444;overflow:auto;}
pre code{padding:0;font-size:12px;background-color:#f8f8ff;border:none;}
code{font-size:12px;background-color:#f8f8ff;color:#444;padding:0 .2em;border:1px solid #dedede;}
a{color:#4183c4;text-decoration:none;}
a:hover{text-decoration:underline;}
a code,a:link code,a:visited code{color:#4183c4;}
img{max-width:100%;}
fieldset {border: 1px solid #ccc;}


/* =HEADER
---------------------------------------------------------------------------------- */
h1 {
  background: url(./logo.png) no-repeat 0 0;
  height: 80px;
  margin: 0 auto 2em auto;
  padding: 0;
  width: 377px;
}

  h1 a {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    width: 100%;
  }